<app-header></app-header>
<div class="container">
  <div class="row bienvenido">
    <div class="col">
      <div class="col_1">
        <h1>URNA CLAUSURADA</h1>
        <img src="./assets/img/clausura.png">
      </div>
      <div class="col">
        <div class="card-body card">
          <p>Ingrese la tarjeta para continuar</p>
          <input class="form-control" type="password" [(ngModel)]="code" (change)="validar()" autofocus #myInput> {{ myInput.focus() }}
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>