
h1 {
    font-size: 40px;
}

h5 {
    font-size: 15px;
    font-weight: bold;    
}

.modal-header {
    background-color: #E33889;
    height: 50px;
}

.partidos {
    width: 90%;
    height: auto;
    float: left;
    padding: 3%;
    .pat {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background-color: #E5E5E5;
        margin-bottom: 10px;
        .codigo,
        .fecha,
        .eleccion {
            width: 30%;
            height: 100px;
            float: left;
            padding: 10px;
            text-align: center;
        }
        .opciones {
            width: 20%;
            height: 100px;
            float: left;
            text-align: center;
            padding-top: 2%;
            .imgBtn {
                width: 50px;
                padding: 5px;
            }
        }
    }
}

hr.solid {
    border-top: 3px solid rgb(197, 0, 141);
    margin-bottom: 50px;
  }

  
hr.solid-escolares {
    border-top: 3px solid rgb(197, 0, 141);
  }

.escolares {
    p {
        font-weight: 500;
    }

    span {
        font-weight: 300;
    }
}