.card-text {
    margin-bottom: 0px;
    margin-top: 2px;
}

.card {
    list-style-type:none;
    padding:4px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
  }

.margen {
    border-bottom: 5px solid #eee !important;
    border-right: 5px solid #eee!important;
    border-radius: 0px;
    border: 2px solid #eee;
    padding: 15px;
    margin: 15px;
}

.imagen{
    display:block;
    margin:auto;
}

.col-md-3 {
    width: 22.3% !important;
}

.nulo {
    text-align: center;
    padding: 5%;
}

.footer-nulo {
    margin: 25px;
}

// MODALES

.modal-header {
    background-color: #E33889;
}

.modal-body{
    text-align: center;
}

.modal-footer {
    .btn-primary {
        background-color: #E33889;
        border-color: #E33889;
    }
    .btn-danger {
        background-color: #6F3CC6;
        border-color: #6F3CC6;
    }
}

.modal-content {
    width: 800px;
}