<div class="container">
  <div class="row bienvenido">
    <div class="col">
      <div class="col_1">
          <h1>Bienvenido</h1>
          <img src="./assets/img/logoOPLE.png">
      </div>
    <div class="col">
          <div class="card-body card">
            <p>Número de urna:<span> 01</span></p>
            <p>Distrito: <span> 01</span></p>
            <p>Municipio: <span> Cuitlahuac</span></p>
            <p>Casilla: <span> 0570C07</span></p>
          </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" routerLink="/tarjetas">Comenzar</button>
</div>
</div>

<!-- <app-footer></app-footer> -->