<app-header></app-header>
<div class="container">
  <h1>Acta de cierre</h1>
  <div class="row">

    <!-- BOLETA GUBERNATURAS -->
    <div class="col-sm" *ngIf="config_gubernatura">
      <h2>Gubernaturas</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidato</th>
            <th scope="col">Votos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosgub">
            <td>{{boleta.partido}}</td>
            <td>{{boleta.voto}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_gubernatura)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA DIPUTACIONES -->
    <div class="col-sm" *ngIf="config_diputacion">
      <h2>Diputaciones</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidato</th>
            <th scope="col">Votos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosdip">
            <td>{{boleta.partido}}</td>
            <td>{{boleta.voto}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_diputacion)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA AYUNTAMIENTOS -->
    <div class="col-sm" *ngIf="config_ayuntamiento">
      <h2>Ayuntamientos</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidato</th>
            <th scope="col">Votos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosayu">
            <td>{{boleta.partido}}</td>
            <td>{{boleta.voto}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_ayuntamiento)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA ESCOLARES -->
    <div *ngIf="config_escolares">
      <h2>Candidatos escolares</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidato</th>
            <th scope="col">Votos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosesc">
            <td>{{boleta.partido}}</td>
            <td>{{boleta.voto}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_escolares)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA REFERENDUM -->
    <div class="col-sm" *ngIf="config_referendum">
      <h2>Referendum</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pregunta(s)</th>
            <th scope="col">Votos Si</th>
            <th scope="col">Votos No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosref">
            <td>{{boleta.pregunta}}</td>
            <td>{{boleta.respuestaSi}}</td>
            <td>{{boleta.respuestaNo}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_referendum)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA PLEBISCITO -->
    <div class="col-sm" *ngIf="config_plebiscito">
      <h2>Plebiscito</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pregunta(s)</th>
            <th scope="col">Votos Si</th>
            <th scope="col">Votos No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votosples">
            <td>{{boleta.pregunta}}</td>
            <td>{{boleta.respuestaSi}}</td>
            <td>{{boleta.respuestaNo}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_plebiscito)">Imprimir</button>
      </div>
    </div>

    <!-- BOLETA MECANISMOS DE PARTICIPACIÓN CIUDADANA -->
    <div class="col-sm" *ngIf="config_consulta">
      <h2>Consulta popular</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pregunta(s)</th>
            <th scope="col">Votos Si</th>
            <th scope="col">Votos No</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boleta of votoscons">
            <td>{{boleta.pregunta}}</td>
            <td>{{boleta.respuestaSi}}</td>
            <td>{{boleta.respuestaNo}}</td>
          </tr>
        </tbody>
      </table>
      <div class="botones">
        <button type="button" class="btn btn-primary" id="btn1" (click)="imprimirBoleta(config_consulta)">Imprimir</button>
      </div>
    </div>

  </div>
  <div class="btn-continuar">
    <button type="button" class="btn btn-primary btn" (click)="finalizar()">Finalizar</button>
  </div>
</div>

<app-footer></app-footer>