h2 {
    font-weight: 350;
    margin-top: 10%;
}

.table {
    width: fit-content;
    margin-top: 20px;
}

#btn1 {
    background-color: #E33889;
    border-color: #E33889;
    margin-right: 20%;
}

.btn-continuar {
    display: flex;
    justify-content: center;

    .btn {
        margin-top: 2%;
        background-color: #6F3CC6;
        border-color: #6F3CC6;
        margin-bottom: 5%;
    }
}

.datos_urna {
    margin: 20%;
}

.botones {
    margin-top: 5%;
}

#contenido {
    width: auto;
    height: auto;
}