<app-header></app-header>
<app-menu></app-menu>

<div class="contenedor">
  <div class="title">
    <button class="btn btnBack" [routerLink]="['/elecciones']">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </button>
    <h3>Crear una nueva configuración.</h3>
    <button class="btn btn-primary" (click)="guardarConfiguracion()">Guardar configuración.</button>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Datos generales</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Mecanismos</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="true">Lista de configuraciones</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

      <div class="form">
        <h5>Funcionariado de mesa directiva de casilla</h5>
        <input type="text" name="presidente" id="presidente" placeholder="Presidente" class="form-control"
               [(ngModel)]="mecanismos.Presidente">
        <input type="password" name="codigo" id="codigo" placeholder="Código RFID del presidente" class="form-control"
               [(ngModel)]="mecanismos.CodigoPresidente">
        <input type="text" name="secretario" id="secretario" placeholder="Secretario" class="form-control"
               [(ngModel)]="mecanismos.Secretario">
        <input type="text" name="primero" id="primero" placeholder="Primer escrutador" class="form-control"
               [(ngModel)]="mecanismos.PrimerEscrutador">
        <input type="text" name="segundo" id="segundo" placeholder="Segundo escrutador" class="form-control"
               [(ngModel)]="mecanismos.SegundoEscrutador">
      </div>
      <div class="form">
        <h5>Datos generales y diseño de la boleta</h5>
        <input type="text" name="entidad" id="entidad" placeholder="Entidad" class="form-control"
               [(ngModel)]="mecanismos.Entidad">
        <input type="text" name="distrito" id="distrito" placeholder="Distrito" class="form-control"
               [(ngModel)]="mecanismos.Distrito">
        <input type="text" name="municipio" id="municipio" placeholder="Municipio" class="form-control"
               [(ngModel)]="mecanismos.Municipio">
        <input type="number" name="seccion" id="seccion" placeholder="Sección" class="form-control"
               onkeypress="return /[0-9]/i.test(event.key)" [(ngModel)]="mecanismos.Seccion">
      </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <button class="btn btn-success" (click)="agregarTipoMecanismo()">Guardar mecanismo</button>
      <div class="form-mecanismos">
        <h5>Tipo de mecanismo de participación ciudadana.</h5>
        <select name="tipo" id="tipo" class="form-select" [(ngModel)]="tiposMecanismos.TipoMecanismo">
          <option value="Referéndum">Referéndum</option>
          <option value="Plebiscito">Plebiscito</option>
          <option value="Consulta Popular">Consulta Popular</option>
        </select>

        <input type="text" name="nombre" id="nombre" placeholder="Nombre del mecanismo de participación ciudadana"
               class="form-control" [(ngModel)]="tiposMecanismos.Nombre">
        <input type="text" name="objeto" id="objeto" placeholder="Objeto del mecanismo de participación"
               class="form-control" [(ngModel)]="tiposMecanismos.Objeto">

        <input type="number" name="folio" id="foliio" onKeyDown="if(this.value.length==4) this.value = this.value.slice(0, - 1)" placeholder="Folio" class="form-control"
               onkeypress="return /[0-9]/i.test(event.key)" [(ngModel)]="tiposMecanismos.Folio">
        <h5>Cantidad de boletas</h5>
        <input type="number" name="nboletas" id="nboletas" placeholder="Cantidad de boletas" class="form-control"
               onkeypress="return /[0-9]/i.test(event.key)" [(ngModel)]="tiposMecanismos.CantidadBoletas">
      </div>

      <div class="mensajeMeca" *ngIf="listaPreguntas.length === 0 || listaPreguntas === null">
        <p>Aún no hay preguntas añadidas.</p>
      </div>
      <div class="pat" *ngFor="let item of listaPreguntas">
        <div class="propietario">
          {{item.Pregunta}}
        </div>
        <div class="suplente"></div>
        <div class="partido"></div>
        <div class="opciones">
          <img src="../../../../assets/img/icons8-delete-90.png" alt="" class="imgBtn" (click)="eliminarPreguntaActual(item.Pregunta)">
          <img src="../../../../assets/img/icons8-edit-90.png" alt="" class="imgBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="editarPreguntaActual(item.Pregunta)">
        </div>
      </div>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar pregunta</button>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <div class="mensajeMeca" *ngIf="listaMecanismos.length === 0 || listaMecanismos === null">
        <p>Aún no hay ningún mecanismo configurado.</p>
      </div>
      <div class="pat" *ngFor="let item of listaMecanismos">
        <div class="propietario">
          <h6>Tipo de mecanismo</h6>
          <p>{{item.TipoMecanismo}}</p>
        </div>
        <div class="suplente">
          <h6>Nombre del mecanismo</h6>
          <p>{{item.Nombre}}</p>
        </div>
        <div class="partido">
          <h6>Folio</h6>
          <p>{{item.Folio}}</p>
        </div>
        <div class="opciones">
          <img src="../../../../assets/img/icons8-delete-90.png" alt="" class="imgBtn">
          <img src="../../../../assets/img/icons8-edit-90.png" alt="" class="imgBtn">
        </div>
      </div>
    </div>
  </div>

</div>

<!-- MODAL PARA AÑADIR PREGUNTAS -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir nueva pregunta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" name="pregunta" id="pregunta" placeholder="Ingrese su pregunta" [(ngModel)]="preguntas.Pregunta">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarPregunta()">Guardar</button>
      </div>
    </div>
  </div>
</div>
