<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="datos">
                <h1>ENTIDAD FEDERATIVA:</h1>
                <div class="input">
                    <h1>{{datos.Entidad}}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="datos">
                <h1>DISTRITO ELECTORAL LOCAL:</h1>
                <div class="input">
                    <h1>{{datos.Distrito}}</h1>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="datos">
                <h1>MUNICIPIO:</h1>
                <div class="input">
                    <h1>{{datos.Municipio}}</h1>
                </div>
            </div>
        </div>
    </div>  
</div>