<div class="container">
    <!-- <div class="titulo">
        <h1>{{configuracion.Nombre}}</h1>
        <p>{{configuracion.Objeto}}</p>
    </div> -->
    <div *ngFor="let pregunta of configuracion?.Preguntas ; let i = index">

        <form [formGroup]="form">
            <div>
                <p>{{pregunta.Pregunta}}</p>
                <input formControlName="respuesta" class="form-control" type="text" required>
                <!-- <label>
                    <input [(ngModel)]="RespuestaSi[i]" type="checkbox" class="input_checkbox">
                    Si
                </label>
                <label>
                    <input [(ngModel)]="RespuestaNo[i]" type="checkbox" class="input_checkbox">
                    No
                </label> -->
            </div>
        </form>

    </div>
    <button class="btn btn-primary" (click)="votar_registrado()">Confirmar</button>

</div>