<div class="contenedor">
  <img src="../../../assets/img/LogoOple.png" alt="Logo del ople" class="imgLogoOple">
  <p>Resultados de los procesos electorales.</p>
  <div *ngIf="data.length == 0">
    <h1>Aún no hay resultados de las votaciones.</h1>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{TIPO_ELECCION_UNO}}</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{{TIPO_ELECCION_DOS}}</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">{{TIPO_ELECCION_TRES}}</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

      <table class="table">
        <thead class="headTable">
          <tr>
            <td>Cándidato</td>
            <td>Votos</td>
          </tr>
        </thead>
        <tbody *ngFor="let item of LISTA_VOTOS_GUBERNATURA">
          <tr *ngFor="let result of item">
            <td>{{result.Partido}}</td>
            <td>{{result.Voto}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

      <table class="table">
        <thead class="headTable">
        <tr>
          <td>Cándidato</td>
          <td>Votos</td>
        </tr>
        </thead>
        <tbody *ngFor="let item of LISTA_VOTOS_DIPUTACIONES">
        <tr *ngFor="let result of item">
          <td>{{result.Partido}}</td>
          <td>{{result.Voto}}</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

      <table class="table">
        <thead class="headTable">
        <tr>
          <td>Cándidato</td>
          <td>Votos</td>
        </tr>
        </thead>
        <tbody *ngFor="let item of LISTA_VOTOS_AYUNTAMIENTOS">
        <tr *ngFor="let result of item">
          <td>{{result.Partido}}</td>
          <td>{{result.Voto}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
