h2 {
    font-weight: 350;
}

.table {
    width: fit-content;
    margin-top: 50px;
}

#btn1 {
    background-color: #E33889;
    border-color: #E33889;
    margin-right: 20%;
}

#btn2 {
    background-color: #6F3CC6;
    border-color: #6F3CC6;
}

.datos_urna {
    margin: 20%;
}

.botones {
    margin-top: 5%;
}