.login {
    width: 35%;
    margin: 0 auto;
    margin-top: 6%;
    text-align: center;
    input {
        margin-bottom: 1%;
    }
    .btn {
        width: 100%;
        margin-top: 3%;
        background: #E33889;
        border: none;
    }
}
