<app-header></app-header>
<div class="container">
    <div class="row bienvenido">
      <div class="col">
        <div class="col_1">
            <h1>¡Gracias por votar!</h1>
            <img src="./assets/img/gracias.png">
        </div>
      <div class="col">
          <div class="card-body card">
            <p>Distrito: <span> {{configuracion.Distrito}} </span></p>
            <p>Municipio: <span> {{configuracion.Municipio}} </span></p>
            <p>Entidad: <span> {{configuracion.Entidad}} </span></p>
            <p>Fecha: <span> {{date | date:'shortDate'}} </span></p>
          </div>
      </div>
    </div>
</div></div>
<app-footer></app-footer>