<app-header></app-header>
<div class="container">
    <div class="row bienvenido">
      <div class="col">
        <div class="col_1">
            <h1>¡Gracias por votar!</h1>
            <img src="./assets/img/gracias.png">
        </div>
      <div class="col">
          <div class="card-body card">
            <p>Distrito: <span> 010104</span></p>
            <p>Municipio: <span> Cuitlahuac</span></p>
            <p>Entidad: <span> Veracruz</span></p>
            <p>Fecha: <span> 18 de Octubre</span></p>
          </div>
      </div>
    </div>
</div></div>
<app-footer></app-footer>