<app-header></app-header>
<!-- <div class="container">
    <div class="titulo">
        <h1>Nombre del mecanismo de participación ciudadana</h1>
        <p>Objeto del mecanismo de participación ciudadana: Los mecanismos de participación ciudadana son los medios a través de los cuales se materializa el derecho fundamental a la participación democrática, y permiten la intervención de los ciudadanos en la conformación, ejercicio y control del poder político.</p>
    </div>
    <div *ngFor="let pregunta of preguntas; index as i">
        <p>{{pregunta.pregunta}}</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio" id="default1{{i}}">
            <label class="form-check-label" for="default1{{i}}">
              Si
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio2" id="default2{{i}}">
            <label class="form-check-label" for="default2{{i}}">
              No
            </label>
          </div>
    </div>
</div> -->

<!-- MENU TABS -->
<div class="nav nav-tabs nav-fill" id="pills-tab" role="tablist">
  <li class="nav-item">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-gubernatura"
      type="button" role="tab" aria-controls="pills-home" aria-selected="true">Referéndum</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-diputaciones"
      type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Plebiscito</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-ayuntamiento"
      type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Consulta Popular</button>
  </li>
</div>

<!-- CONTENIDO -->
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-gubernatura" role="tabpanel" aria-labelledby="pills-home-tab">
    <app-referendum [app_name]="'referendum'"></app-referendum>
  </div>
  <div class="tab-pane fade" id="pills-diputaciones" role="tabpanel" aria-labelledby="pills-profile-tab">
    <app-referendum [app_name]="'plebiscito'"></app-referendum>
  </div>
  <div class="tab-pane fade" id="pills-ayuntamiento" role="tabpanel" aria-labelledby="pills-contact-tab">
    <app-referendum [app_name]="'consulta_popular'"></app-referendum>
  </div>
</div>
<app-footer></app-footer>